body{margin: 0px;}

.Main-header{
    width: 100%;
    height: 350px;
    background: linear-gradient(RGB(252,228,236),rgba(252,228,236,0));
    mix-blend-mode: normal;
}

.Main-content{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 38.5%;

    background: #FFFFFF;
    border-radius: 34px;
}

.Logo{
    position: absolute;
    width: 223px;
    height: 95px;
    left: 33px;
    top: 39px;
}

.Main-nav-bar{
    position:absolute;
    top: 200px;
    left: 5%;
    width: 90%;
    
}

.Main-nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0A0A0A;
    border-radius: 7px;
}


.Main-nav-bar li {
    float: left;
}

.Main-nav-bar .other-options{
    float: right;
}

.Main-nav-bar .other-options .car{
    padding: 11px 16px;
}
  
.Main-nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
  
.Main-nav-bar li:hover {
    background-color: #333333;
}

.filter{
    width: 15%;
    color: gray;
    padding: 50px;
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
}



