body{
    margin: 0px;
    position: relative;
}

.Main-header{
    width: 100%;
    height: 350px;
    background: linear-gradient(RGB(252,228,236),rgba(252,228,236,0));
    mix-blend-mode: normal;
   
}

.Logo{
    position: absolute;
    width: 223px;
    height: 95px;
    left: 3%;
    top: 3%;
}

/*Configuración de la barra de navegación*/
.container {
    width: 90%;
    margin-left: 5%;
    background-color: #0a0a0a;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    border-radius: 7px;
    overflow: hidden;

    position: absolute;
    top: 45%;
    
}


.navbar a {
    text-decoration: none;
    color: inherit;
    padding: 15px;
}

.navbar a:hover {
    background-color: #333;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
    
    padding: 0;
    margin: 0;
}

.carrito{
    display: none;
}

.container div{
    display: flex;
}

.menu{
    justify-content: space-between;
    
}

.car {
    display: flex;
    align-items: center;
    padding: 11px 15px !important;
}

.car img{
    width: 25px;
    height: 25px;
}

.tag{
    display: none;
}

.menu-hide{
    display: none;
}

@media screen and (max-width: 710px) {
    .container{
        display: none;
      
    }
    .tag{
        display: block;
        position: absolute;
        top: 5%;
        right: 5%;
        font-size: 3em;
        font-weight: bold;
        
    }

    .menu-hide{
        display: none;
        z-index: 3;
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
        text-align: center;
        overflow-y: scroll;
        

        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .menu-hide .tag{
        text-align: right;
        position: static;
        padding: 5%;
        padding-bottom: 0;
    }

    .menu-hide .list{
        display: block ;
    }

    .menu-hide a{
        text-decoration: none;
        color: inherit;
        font-size: 1.5em;
    }

    .list li{
        padding: 5% 0;
    }

    .carrito{
        display: inline-block;
    }

    .car{
        padding: 0;
        text-align: center;
        display: block;
    }

}
/*FIN BARRA DE NAVEGACIÓN*/


/*Diseño del contenido principal*/
.Main-content {
    position: absolute;
    top: calc(45% + 47px);
    left: 0px;
    right: 0;

    width: 100%;
    padding-top: 15px;

    background-color: #FFFFFF;
    border-radius: 34px;

    display: grid;
    grid-template-columns: 15% 85%;
}

.filter{
    
    color: gray;
    padding: 0px 1.5vw;
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
}

.filter p{
    margin: 0;
}

.content-products{
    
    height: auto;
    padding: 0 1vw;
    padding-right: 7%;
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,1fr));
    gap: 15px;
    padding-bottom: 5%;

}

.product{
    padding: 14px;
    height: 250px;
    width: 150px;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    box-shadow: 0px 0px 5px grey;
}

.picture-product{
    width: 100%;
    height: 60%;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details{
    height: 40%;
    padding-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    
}

.details strong, .details p{
    margin: 0;
    padding: 0;
}

.details p{
    color: rgb(168, 167, 167);
}



.picture-product p{
    margin: 0;
    padding: 0;
}

.buy{
    padding-top: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.buy p{
    color: rgb(215, 50, 99);
    font-weight: bold;
}

.product-car{
    padding: 2px;
    border-radius: 5px;
    background-color: antiquewhite;
    width: 25px;
    cursor: pointer;
    box-shadow: -1px 1px 2px gainsboro;
    

}

@media screen and (max-width: 710px){
    .Main-content{
        top: 35%;
    }
}

@media screen and (max-width: 962px) {
    .filter{
        padding: 0;
    }

    .filter p{
        text-align: right;
    }

    .Main-content{
        grid-template-columns: auto;
        padding: 5%;

        box-sizing: border-box;
    }
    .content-products{
        
        grid-template-columns: auto !important;
        row-gap: 15px;
        padding-bottom: 0;
    }
    .product{
        width: 100%;
        height: 100px;
        display: grid;
        grid-template-columns: auto auto;


    }
    .product .picture-product{
        width: 30%;
    }
}



/*FINAL DEL CONTENIDO PRICIPAL*/

/*Diseño del footer*/
.footer{
    position: absolute;
    
    height: auto;
    width: 100%;
    background-color: #0a0a0a;
    color: #fff;
    z-index: -1;
    font-family: 'Roboto',sans-serif;
    font-weight: 550;    
    
    display: flex;
    flex-direction: column;
}

.spacing-footer{
    height: 50px;
}

.footer-content{
    padding: 15px 0;


    display: flex;
    justify-content: space-between;
}

.suscribirse{
    width: 351px;
    height: 30px;
    padding: 0;
    float: left;
    display: inline;
    border-radius: 5px;
    overflow: hidden;
}

.button-subscribe{
    width: 30%;
    margin: 0;
    height: 20px;
    padding: 5px;
    display: inline-block;
    background-color: rgb(215, 50, 99);
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.text-box{
    background-color: rgb(243, 243, 243);
    color: rgb(207, 207, 207);
    height: 20px;
    width: 60%;
    margin: 0;
    font-weight: lighter;
    display: inline-block;
    padding: 5px;
    cursor: text;
}

.footer div img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.redes{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:710px) {
    .footer{
        
        display: grid;
        grid-template-rows: auto auto;

    }

    .footer-content{
        display: grid;
        grid-template-rows: auto auto;
    }

    .footer .footer-redes{
        display: grid;
        grid-template-columns: auto auto;
    }
    
}


/*FINAL DISEÑO FOOTER*/